@import "./base.css";

body {
  background-color: #78c4a4; /* fallback for older browsers */
  background-image: linear-gradient(to bottom, #1a8263 , #178262);
  --el-menu-border-color: #33333;
  --el-color-primary: #116149;
  --el-border-color: black;
  --el-text-color: white;
  --el-card-bg-color: var(--el-color-primary) !important;
  --el-card-border-color: var(--el-color-primary) !important;
  padding: 0;
}

main {
  padding: 2rem 3rem !important;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
  margin: 0;
  width: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  main {
    padding: 1rem !important;
  }
}
